<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bucketlist</title>
    
<!-- bower:css -->
  <!-- bower installed css files will go here... -->
  <!-- endinject -->
</head>
<body ng-app="app">
    <div ng-controller="MainController">
        <h1>Your BucketList</h1>
        <ul ng-repeat="item in items">
            <li ng-if="!item.complete">{{item.name}}
                 <button ng-click="remove(item)">X</button>
                 <button ng-click="complete(item)">Done</button>
                 <div><input type="text">
                 <input type="text">
                 <input type="text"></div>
                 </li>
        </ul>
        <input type="text" ng-model="newItem">
        <button ng-click="add(newItem)">Submit</button>
        <br>
        <h1>Your Log</h1>
        <ul ng-repeat="item in items">
            <li ng-if="item.complete">You completed {{item.name}}</li>
        </ul>

        <h1>Feed</h1>
        <p>{{test | json}}</p>

    </div>
    
    <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.js"></script>
  <!-- endinject -->

  <!-- inject:js -->
<script src="/scripts/app.js"></script>
<script src="/scripts/content/item.factory.js"></script>
<script src="/scripts/content/main.controller.js"></script>
<!-- endinject -->
</body>
</html>