<div ng-controller="MainController" class="background">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="/#/">Bucket</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Feed</a></li>
                    <li><a ng-href="/#/user/{{user.username}}">Profile</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/#/welcome" ng-click='auth.$unauth()'>Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>


    <div class="col-sm-6 col-sm-offset-1">
        <div class="box">
            <div class="row">
                <div class="col-sm-6">
                    <select class="form-control post-selection" ng-model="post.type">
                    <option value="" disabled selected>Select post type</option>
                    <option value="is working towards">Working Towards</option>
                    <option value="has completed">Completed</option>
                    <option value="is remembering">Remembering</option>
                </select>
                </div>
                <div class="col-sm-6 post">
                    <select class="form-control" ng-model="post.item" ng-options="item as item.name for item in items">
                    <option value="" disabled selected>Select a bucket item</option>
                </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 post">
                    <textarea class="form-control post-area" type="text" ng-model="post.text" placeholder="Share your experiences"></textarea>
                </div>
                <div class="col-sm-2 post">
                    <button type="submit" class="btn btn-success" ng-click="addPost(post)">Post</button>
                </div>
            </div>
        </div>
        <div ng-repeat="post in allPosts | orderBy:'-date'">

                <post post=post></post>
        </div>

    </div>
    <div class="col-sm-3 col-sm-offset-1">
        <div class="box">
            <h4>What's your dream?</h4>
            <form><input type="text" ng-model="newItem" placeholder="Add to bucklist...">
                <button class="btn btn-success" type="submit" ng-click="addItem(newItem)">Submit</button></form>
        </div>

        <div class="box box-two">
            <h4>Trending</h4>
            <ul ng-repeat="pi in popularItems">
                <button class="btn btn-primary quick-add" ng-click="addItem(pi); removeTrending(pi)">+</button> {{pi.name}}
            </ul>
        </div>


    </div>

</div>